*{
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    background-color: #221e1f;
}

/* HEADER  */


.head{
    background-image: url("newImg/absBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.headerTop{
    display: flex;
    width: 100vw;
    height: 100px;
    align-items: center;
    /* border: 1px solid red; */
}

.headerTopLeft{
    width: 20vw;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    padding-left: 30px;

}

.headerTopLogo{
    width: 60vw;
    height: 100%;
    /* border: 1px solid red; */

}

.topLogoTxt{
    font-family: 'Gamerock Personal Use';
    color: white;
    font-size: 4em;
    text-align: center;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    /* -webkit-text-fill-color: white; */
    text-shadow: 0 0 5px white;

}

.topLogoTxt span{
color: #7ee081;
text-shadow: 0 0 5px #7ee081;
}


.headerTopRight{
    width: 20%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;

}


.headerBot{
    border-top: 10px solid #000;
    border-bottom: 10px solid #000;
    width: 100%;
    height: 70px;
    font-family: 'Stalinist One';
    display: flex;
    justify-content: space-around;
    position: relative;
}

.headerBot ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.headerBot li{
    display: inline;
    padding: 20px 0;
}

.headerBot a{
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}

/* FIM DO HEADER  */

.itemName{
    width: 100vw;
    color: white;
    font-size: 3em;
    height: 100px;
    border-bottom: 10px solid black;
    display: flex;
    align-items: center;
}
.itemName span{
    margin-left: 40px;
}

/* CONTAINER DE DETALHES  */

.contDetails{
    width: 100vw;
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    color: white;
    /* border: 1px solid red; */
    position: relative;
}

.imgPrice{
    display: flex;
    flex-direction: row;
    /* border: 1px solid blue; */
    justify-content: space-around;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 10px solid #000;
}

.img{
    width: 350px;
    border: 1px solid white;
    /* height: 500px; */
    border-radius: 15px;
    overflow: hidden;
    /* margin: 150px; */
}

.img img{
    width: 100%;
}

.price{
    width: 50%;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

/* DECORAÇÃO DE TEXTO  */
.precos{
display: flex;
flex-direction: column;
align-self: flex-start;
justify-content: flex-start;
}
.riscado{
    text-decoration: line-through;
    color: #f25f5c;
    font-size: 2em;
}
.precoAtual{
    font-weight: 700;
    font-size: 3em;
    color: white;
}
.detailPreco{
    color: white;
    font-size: 1.3em;
}

/* SELECT PARCELAS  */

select{
    width: 300px;
    text-align: center;
    height: 30px;
    font-size: 20px;
    border: transparent;
    border-radius: 5px;
    margin: 10px 0;
}


/* DESCIRÇÃO DO PRODUTO  */
.descProduto{
    font-size: 1.5em;
    width: 95%;
    margin-top: 25px;
}


/* GALERIA DO ITEM  */

.lbox{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
}

.boxImg {
    width: 80%; 
    margin:  auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.boxImg img{
    width: 100%;
    opacity: 0;

}

.lbox:target .boxImg img{
    opacity: 1;
    transition: opacity .4s linear;

}


.btn {
    color: #fff;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    position: absolute;
    width: 50 px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    -webkit-text-stroke: 3px black;
}

#prev{
    left: 5%;
    top: 45%;
}
#next{
    right: 5%;
    top: 45%;
}

#close{
    top: 0;
    right: 2%;
}

.lbox:target{
    opacity: 1;
    visibility: visible;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    background: rgba(10, 10,10,.7);
    z-index: 50;
}

.contProdTxt ul{
    /* width: 880px ; */
    list-style: none;
    display: flex;
    margin: 100px auto;
    /* border: 1px solid ; */
    box-shadow: 0 0 15px #333;

}

.min {
    width: 200px;
    padding: 10px;

}




/* DEPOIMENTOS DOS USUÁRIOS */

.depoimentos{
    font-size: 1.5em;
    width: 100%;
    width: 95%;
    margin-top: 25px;
    border-top: 10px solid #000;
    padding-top: 25px;
    padding-bottom: 25px;

   
}

.contProdTxt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    color: white;
}

.moreScrap{
    background-color: #1F8E97;
    color: #000;
    padding: 5px 20px;
    cursor: pointer;
    font-weight: 700;
    transition: .5s;
}

.scrapHide{
    display: none;
}

.faq{
    /* height: 250px; */
    width: 100%;
    /* border: 1px solid #ddd; */
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    text-align: justify;
    flex-direction: column;
    position: relative;
}

.faqItem{
width: 700px;
/* border-radius: 10px; */
padding: 5px 20px;
margin: 20px 0;
font-size: 1.5em;
background-color: #1F8E97;
color: black;
font-weight: 700;
cursor: pointer;
transition: .5s;
}

.faqItem:hover, .moreScrap:hover{
    box-shadow: 0 0 15px #1F8E97;
}

.margin{
    width: 95%;
    /* height: 200px; */
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 5px 20px;
    border-radius: 20px;
}


/* FOOTER  */

footer{
    background-image: url('newImg/absBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-top: 10px solid black;
}

.footerLeft{
    width: 33%;
    height: 100%;
    /* border: 1px solid tomato; */
    height: 100%;
    color:white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}
.footerMid{
    width: 33%;
    height: 200px;
    /* border: 1px solid green; */
    height: 100%;
    color: white;
    text-align: center;
    font-size: 1.3em;
    font-weight: 900;
}
.footerRight{
    width: 33%;
    height: 200px;
    /* border: 1px solid blue; */
    height: 100%;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}

.socialMediaIcons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 50px;
    /* border:#7ee081 solid 1px; */
    justify-content: center;
    align-items: center;
}

.socialMediaIcons img{
    height: 50px;
    margin: 0 30px;
}

.mobHeadImg{
    display: none;
}




@media screen and (max-width: 320px) {
    .headerTopRight, .headerTopLogo, .headerTopRight, .headerBot{
        display: none;
    }
    
    .mobHeadImg{
        width: 100vw;
        display: block;
        position: absolute;
        top: 0;
    }
    .mobHeadImage{
        width: 100%;
        position: absolute;
        top: 0;
    }

    .itemName{
        font-size: 1.3em;
        height: 50px;
    }

    .img{
        height: unset;
        width: 130px;
    }

    .mobHeadImg{
        width: 100vw;
        position: relative;
    }

    .mobLeftArrow{
        position: absolute;
        bottom: 10px;
        left: 10px;
        -webkit-text-stroke: 1px black;
        font-size: 2em;
    }
    .mobRightArrow{
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 2em;
        -webkit-text-stroke: 1px black;
    }

    .headerTopLeft{
        display: block;
    }
}