@import url('http://fonts.cdnfonts.com/css/gamerock-personal-use');
@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic:wght@700&family=Stalinist+One&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    background-color: black;
}


/* HEADER  */
.head{
    background-image: url("newImg/absBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.headerTop{
    display: flex;
    width: 100vw;
    height: 100px;
    align-items: center;
    /* border: 1px solid red; */
}


.headerTopLeft{
    width: 20vw;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    padding-left: 30px;

}

.headerTopLeft img{
    cursor: pointer;
}

.navMenu{
flex-direction: column;
display: none;
position: absolute;
top: 0px;
left: 9%;
/* width: 200px; */
/* border-radius: 20px; */
border: 1px solid white;
background-color: black;
padding: 10px 20px;
font-size: 2em;
z-index: 20;
text-align: center;
}

.navMenu a{
    color: red;
    text-decoration: none;
}

.navMenu a:hover{
    background-color: blue;
}



.headerTopLogo{
    width: 60vw;
    height: 100%;
    /* border: 1px solid red; */

}

.topLogoTxt{
    font-family: 'Gamerock Personal Use';
    color: white;
    font-size: 4em;
    text-align: center;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    /* -webkit-text-fill-color: white; */
    text-shadow: 0 0 5px white;

}

.topLogoTxt span{
color: #7ee081;
text-shadow: 0 0 5px #7ee081;
transition: 1s;
}

.topLogoTxt span:hover {
    text-shadow: 0 0 5px #7ee081, 0px 0px 30px #7ee081, 0px 0px 60px #7ee081, 0 0 5px #7ee081, 0 0 5px #7ee081, 15px 15px 1px #231f20;
    opacity: .8;

}

.headerTopRight{
    width: 20%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;

}


.headerBot{
    border-top: 10px solid #000;
    border-bottom: 10px solid #000;
    width: 100%;
    height: 70px;
    font-family: 'Stalinist One';

    display: flex;

    justify-content: space-around;
    position: relative;
}

.headerBot ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.headerBot li{
    display: inline;
    padding: 20px 0;
    color: blue;
}

.ms{
    display: inline;
}



/* HOVER DO NAVBAR */
/* HOVER DO NAVBAR */

.headerBot li:hover a{
color: #7ee081;
text-shadow: rgb(34, 190, 177) 0px 0px 15px, rgb(34, 190, 177) 0px 0px 15px,  #231f20 10px 10px 1px;

}



.headerBot a{
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    transition: all 1s, text-shadow 2s, font-size 1s;
}

.findBar{
    width: 100vw;
    height: 40px;
    display: none;
    justify-content: center;
    align-items: center;

}

.findBar input{
    width: 75%;
    height: 30px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
    /* display: none; */
}



/* FIM DO HEADER  */



/* CRIACAO DO BANNER  */

* {box-sizing: border-box;}
/* body {font-family: Verdana, sans-serif;} */
.mySlides {display: none;}
img {vertical-align: middle;}

/* medidas do banner */
.slide{
    width: 100vw;
    height: 400px;
    /* border: purple 1px  solid; */
    position: relative;
    margin: auto;
}

.slideNumero{
color: white;
font-size: 16px;
padding: 10px 14px;
position: absolute;
top: 0;
}

.slideMarcador{
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Animação do slide  */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;

}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  






.slider {
    width: 100%;
    border: 3px solid #7ee081;
    
}

.slider img{
    width: 100%;
    display: flex;
}

.oldPrice{
    color: #999;
    font-size: .8em;
}



.barraJogosDestaque{
    width: 100vw;
    height: 70px;
    display: flex;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    align-items: center;
    justify-content: center;
    background-image: url("newImg/absBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    top: 0;
    z-index: 3;
    transition: color 2s;
}

.barraTxt{
    font-size: 3em;
    color: white;
    font-family: 'Gentium Basic', serif;
    -webkit-text-stroke: 2px black;
    
}

.letra-red{
    color: red;
}

.contJogosDest{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-content: space-around; */
    align-items: center;
    width: 100vw;
    background-color: #231f20;
    position: relative;
}

.banner{
    width: 100%;
    height: 400px;
    border: 1px solid red;
}

/* .banner-ativo{
    display: flex;
} */


.cardItem{
    width: 250px;
    height: 500px;
    /* border: 1px solid green; */
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 50px;
    position: relative;
    background-color: #eaeaea;
    box-shadow: 0 0 20px black;
    /* transition: 2s; */
    padding: 5px;
}

.psx{
    display: flex;
}

.cardItemImg{
width: 100%;
height: 70%;
border-radius: 10px;
border: 1px solid black;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
}

.cardItemImg img{
    width: 100%;
}

.cardItemDesc{
    width: 95%;
    /* border: 1px solid purple; */
    height: 30%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.edt{
    font-size: 17px;
    color: black;
    margin-top: 5px;
}

.cardItemNome{
    width: 100%;
    height:  50%;
    /* border: 1px solid blue; */
    font-size: 1.3em;
    text-align: center;
    color: black;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.desconto{
    position: absolute;
    text-align: center;
    top: 1%;
    background-color: crimson;
    color: white;
    border-radius: 5px;
    padding: 0 4px;
    text-transform: uppercase;
    font-size: .8em;
    border: 1px solid black;
}

.cardItemPrice{
    font-size: 1.4em;
    color: black;
    font-weight: 700;
    text-align: center;
    /* border: 1px solid black; */
}
.cardItemBtn{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    font-size: 1.7em;
    position: relative;
    transition: 1s;

}
.cardItemBtn a{
    text-decoration: none;
    color: white;
    background-color: royalblue;
    border:3px solid rgb(43, 71, 153);
    padding: 3px 30px;
    border-radius: 20px;
    overflow: hidden;
}

/* APLICACAO DE HOVER E BEFORE NO BOTAO => INCOMPLETO
.cardItemBtn:hover::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(250,0,0,.5);
} */


.nextPage{
   
    width: 100vw;
    margin-bottom: 50px;
    /* bottom: 0; */
    /* height: 50px; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.nextPage img{
    height:  30px;
    width: 30px;
    margin: 0 20px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.nextPage ul{
    list-style-type: none;
    
}

.nextPage ul li{
    display: inline-block;
    
}

.nextPage ul li a{
    text-decoration: none;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    font-size: 2em;
    border-radius: 50%;
    margin: 10px;
    padding: 10px;
    color: white;
}





.barraProdMaisVendidos{
    width: 100vw;
    height: 70px;
    display: flex;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    align-items: center;
    justify-content: center;
    background-image: url("newImg/absBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    top:0;
    z-index: 4;
}

/* FOOTER  */
footer{
    background-image: url('newImg/absBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-top: 10px solid black;
}

.footerLeft{
    width: 33%;
    height: 100%;
    /* border: 1px solid tomato; */
    height: 100%;
    color:white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}
.footerMid{
    width: 33%;
    height: 200px;
    /* border: 1px solid green; */
    height: 100%;
    color: white;
    text-align: center;
    font-size: 1.3em;
    font-weight: 900;
}
.footerRight{
    width: 33%;
    height: 200px;
    /* border: 1px solid blue; */
    height: 100%;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}

.socialMediaIcons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 50px;
    /* border:#7ee081 solid 1px; */
    justify-content: center;
    align-items: center;
}

.socialMediaIcons img{
    height: 50px;
    margin: 0 30px;
}

.menu-ativo{
    /* display: flex; */
    color:#7ee081
    }
